@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700&display=swap');

.country {
    position: absolute;
    top: 12%;
    left: 2%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 25px;
}